
<h1> Create a Team and Heroes! </h1>
  <form action = "/team" method="POST">
  <label for="team_name"> Team Name: </label>
  <input type="text" id="team_name" name="team[name]"><br>

  <label for="team_motto"> Team Motto: </label>
  <input type="text" id="team_motto" name="team[motto]"><br>


  <h2> Hero 1 </h2>
  <label for="member1_name"> Hero's Name: </label>
  <input type="text" id="member1_name" name="team[members][][name]"><br>

  <label for="member1_power"> Hero's Power: </label>
  <input type="text" id="member1_power" name="team[members][][power]"><br>

  <label for="member1_bio"> Hero's Biography: </label>
  <input type="text" id="member1_bio" name="team[members][][bio]"><br>

  <h2> Hero 2 </h2>
  <label for="hero_name"> Hero's Name: </label>
  <input type="text" id="hero_name" name="name"><br>

  <label for="hero_power"> Hero's Power: </label>
  <input type="text" id="hero_power" name="power"><br>

  <label for="hero_bio"> Hero's Biography: </label>
  <input type="text" id="hero_bio" name="bio"><br>

  <h2> Hero 3 </h2>
  <label for="hero_name"> Hero's Name: </label>
  <input type="text" id="hero_name" name="name"><br>

  <label for="hero_power"> Hero's Power: </label>
  <input type="text" id="hero_power" name="power"><br>

  <label for="hero_bio"> Hero's Biography: </label>
  <input type="text" id="hero_bio" name="bio"><br>

  <input type="submit" value="Submit">
  </form>
