
<h1> Create a Team and Heroes! </h1>
  <form action = "/team" method="POST">
  <label for="team_name"> Team Name: </label>
  <input type="text" id="team_name" name="name">

  <label for="team_motto"> Team Motto: </label>
  <input type="text" id="team_motto" name="motto">
  <input type="submit" value="Submit"> 
  </form>
