
<h1> Create a Team and Heroes! </h1>
  <form action = "/team" method="POST">
  <label for="team_name"> Team Name: </label>
  <input type="text" id="team_name" name="name"><br>

  <label for="team_motto"> Team Motto: </label>
  <input type="text" id="team_motto" name="motto"><br>


  <h2> Hero 1 </h2>
  <label for="hero_name"> Hero's Name: </label>
  <input type="text" id="hero_name" name="name"><br>

  <label for="hero_power"> Hero's Power: </label>
  <input type="text" id="hero_power" name="power"><br>

  <label for="hero_bio"> Hero's Biography: </label>
  <input type="text" id="hero_bio" name="bio"><br>

  <h2> Hero 2 </h2> 
  <label for="hero_name"> Hero's Name: </label>
  <input type="text" id="hero_name" name="name"><br>

  <label for="hero_power"> Hero's Power: </label>
  <input type="text" id="hero_power" name="power"><br>

  <label for="hero_bio"> Hero's Biography: </label>
  <input type="text" id="hero_bio" name="bio"><br>

  <input type="submit" value="Submit">
  </form>
